.leftSide {
    flex: 1;
}

.leftSide h1 {
    margin: 0;
    font-size: 40px;
    color: #3a4b5c;
}

.leftSide p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #6a7d8b;
}

.leftSide input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgba(150, 163, 171, .5);
    padding: 10px 2px;
    margin-bottom: 20px;
    font-size: 14px;
    outline: 0;
}

.leftSide input:disabled {
    opacity: .5;
}

.leftSide button {
    background-color: #227c9d;
    color: #fff;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    margin-top: 40px;
    transition: all ease .3s;
}


.leftSide button:hover {
    background-color: #227c9d;
    opacity: .5;
}

.leftSide button:disabled {
    opacity: .5;
    cursor: default;
}

/* Deshabilitando as setas do input number */
/* Para Chrome, Safari e Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}